# Function
### print ชื่อ XXX นามสกุล YYY รหัส ZZZ
### print เกรด วิชา stat1 >>> AAA

In [15]:
a = 'ชื่อ ณัฐฤทธิ์ นามสกุล เศวตวรานนท์ รหัส 603021863-3'
print (a)

ชื่อ ณัฐฤทธิ์ นามสกุล เศวตวรานนท์ รหัส 603021863-3

In [16]:
name = 'ณัฐฤทธิ์' 
surname = 'เศวตวรานนท์'
ID = '603021863-3'


b = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print (b)

ชื่อ ณัฐฤทธิ์ นามสกุล เศวตวรานนท์ รหัส 603021863-3

### วิธีการสร้าง Function

```python
    def function_name(x):
        do_someting
        return y
```

### normal function

In [17]:
def print_line1(name1,surname1,ID1,):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    return st

In [18]:
print(print_line1('แตงโม','สังทอง','1112'))

ชื่อ แตงโม นามสกุล สังทอง รหัส 1112

In [19]:
def print_2line(name1,surname1,ID1,grade):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print (st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [20]:
print_2line('แตงโม','สังทอง','1112','A')

ชื่อ แตงโม นามสกุล สังทอง รหัส 1112
เกรดวิชา stat1 >>> A

In [21]:
def print_3line(name1,surname1,ID1,grade):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print (st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [22]:
print_3line('ณัฐฤทธิ์','เศวตวรานนท์','603021863-3','A')
print_3line('กฤตยา','สังไทย','603021853-6','A')
print_3line('ลั่นฟ้า','บุญรอด','603021885-3','A')

ชื่อ ณัฐฤทธิ์ นามสกุล เศวตวรานนท์ รหัส 603021863-3
เกรดวิชา stat1 >>> A
ชื่อ กฤตยา นามสกุล สังไทย รหัส 603021853-6
เกรดวิชา stat1 >>> A
ชื่อ ลั่นฟ้า นามสกุล บุญรอด รหัส 603021885-3
เกรดวิชา stat1 >>> A

###  function without output

In [23]:
def two_x_three():
    x = 2*3
    return x

In [24]:
two_x_three()

6

### function with default argument

In [25]:
def print_2line_default(name1,surname1,ID1,grade='F'):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print(st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [26]:
print_2line_default('แตงโม','สังทอง','1112')

ชื่อ แตงโม นามสกุล สังทอง รหัส 1112
เกรดวิชา stat1 >>> F

In [27]:
print_2line_default('แตงโม','สังทอง','1112','A')

ชื่อ แตงโม นามสกุล สังทอง รหัส 1112
เกรดวิชา stat1 >>> A

In [28]:
print_2line_default(surname1 ='แตงโม',name1 = 'สังทอง',ID1= '1112')

ชื่อ สังทอง นามสกุล แตงโม รหัส 1112
เกรดวิชา stat1 >>> F

## Loop (วนซ้ำ)

```Python
    for each_member in listA:
        do something
```

In [29]:
for i in [1,2,3]:
    print(i)

1
2
3

In [30]:
for i in 'Nattharit':
    print(f'{i} ->/')
    print(' ')

N ->/

a ->/

t ->/

t ->/

h ->/

a ->/

r ->/

i ->/

t ->/

### 1. สร้าง List ชื่อเพื่อน ท่อยู่ในแถวยาวเเดียวกัน
### 2. วนลูป print ประโยคว่า ชื่อเรา XXX รัก YYY กริยา  ZZZ

In [31]:
for i in ['แตงโม','เจม','พี่เจท','ดาย','ฝน']:
    print (f'บูม รัก {i}')

บูม รัก แตงโม
บูม รัก เจม
บูม รัก พี่เจท
บูม รัก ดาย
บูม รัก ฝน

In [32]:
def print_7line(name1,Fname,React):
    st = f' {name1} {React} {Fname} '  
    print (st)

In [33]:
print_7line('บูม','แตงโม','รัก')
print_7line('บูม','เจม','รัก')
print_7line('บูม','พี่เจท','รัก')
print_7line('บูม','ดาย','รัก')
print_7line('บูม','ฝน','รัก')

 บูม รัก แตงโม
 บูม รัก เจม
 บูม รัก พี่เจท
 บูม รัก ดาย
 บูม รัก ฝน

In [34]:
for i in ['แตงโม','เจม','พี่เจท','ดาย','ฝน']:
    print_7line('บูม',i,'รัก')

 บูม รัก แตงโม
 บูม รัก เจม
 บูม รัก พี่เจท
 บูม รัก ดาย
 บูม รัก ฝน

### loop in loop

In [35]:
for name1 in ['แตงโม','เจม','พี่เจท','ดาย','ฝน']:
    for name2 in ['แตงโม','เจม','พี่เจท','ดาย','ฝน']:
        print_7line (name1,name2,'รัก')

 แตงโม รัก แตงโม
 แตงโม รัก เจม
 แตงโม รัก พี่เจท
 แตงโม รัก ดาย
 แตงโม รัก ฝน
 เจม รัก แตงโม
 เจม รัก เจม
 เจม รัก พี่เจท
 เจม รัก ดาย
 เจม รัก ฝน
 พี่เจท รัก แตงโม
 พี่เจท รัก เจม
 พี่เจท รัก พี่เจท
 พี่เจท รัก ดาย
 พี่เจท รัก ฝน
 ดาย รัก แตงโม
 ดาย รัก เจม
 ดาย รัก พี่เจท
 ดาย รัก ดาย
 ดาย รัก ฝน
 ฝน รัก แตงโม
 ฝน รัก เจม
 ฝน รัก พี่เจท
 ฝน รัก ดาย
 ฝน รัก ฝน

### loop in function

In [36]:
def print_7lines (name1,React,Fname):
    for Fname in Fname:
        print (f'{name1} {React} {Fname}')

In [37]:
print_7lines('บูม','รัก',['แตงโม','เจม','พี่เจท','ดาย','ฝน'])

บูม รัก แตงโม
บูม รัก เจม
บูม รัก พี่เจท
บูม รัก ดาย
บูม รัก ฝน

### looping in dit

In [38]:
name_grade = {'ณัฐฤทธิ์':'B','นก':'C','ไก่':'A','ยุด':'F'}
name_grade

{'ณัฐฤทธิ์': 'B', 'นก': 'C', 'ไก่': 'A', 'ยุด': 'F'}

In [39]:
name_grade['ยุด']

'F'

In [40]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

ณัฐฤทธิ์ ได้เกรด B
นก ได้เกรด C
ไก่ ได้เกรด A
ยุด ได้เกรด F

### conditiona เงื่อนไข

## == , != , >= , <= , < , >

```Python
if condition1:
    do someting
elif condoition2:
    do another thing
elif:
    doo...
```

In [41]:
for name1 in ['แตงโม','เจม','พี่เจท','ดาย','ฝน']:
    for name2 in ['แตงโม','เจม','พี่เจท','ดาย','ฝน']:
        if name1 != name2:
            print_7line (name1,name2,'รัก')

 แตงโม รัก เจม
 แตงโม รัก พี่เจท
 แตงโม รัก ดาย
 แตงโม รัก ฝน
 เจม รัก แตงโม
 เจม รัก พี่เจท
 เจม รัก ดาย
 เจม รัก ฝน
 พี่เจท รัก แตงโม
 พี่เจท รัก เจม
 พี่เจท รัก ดาย
 พี่เจท รัก ฝน
 ดาย รัก แตงโม
 ดาย รัก เจม
 ดาย รัก พี่เจท
 ดาย รัก ฝน
 ฝน รัก แตงโม
 ฝน รัก เจม
 ฝน รัก พี่เจท
 ฝน รัก ดาย

In [42]:
if True:
    print('Yes')

Yes

In [43]:
if False:
    print('No')

In [44]:
if False:
    print('Yes')
else:
    print('No')

No

In [45]:
1 == 1

True

In [46]:
if 1==1:
    print('1=1')

1=1

## HW
เขียน function ตัดเกรด โดยที่input เป็นคะแนน(0-100) output เป็นเกรด (F-A)
input = [1,50,65,90,101,-5,49]

In [55]:
def Gr(score):
    if 0 <= score <= 100:
        if score < 50:
            print(f'{score} = F')
        elif 50 >= score < 55:
            print(f'{score} = D')
        elif 55 >= score < 60:
            print(f'{score} = D+')
        elif 60 >= score < 65:
            print(f'{score} = C')
        elif 65 >= score < 70:
            print(f'{score} = C+')
        elif 70 >= score < 75:
            print(f'{score} = B')
        elif 75 >= score < 80:
            print(f'{score} = B+')
        else:
            print(f'{score} = A')
    else:
        print(f'กรอกคะแนนผิดพลาด')

In [63]:
G = [1,50,65,90,101,-5,49]

In [65]:
for i in G:
     Gr(i)

1 = F
50 = D
65 = C+
90 = A
กรอกคะแนนผิดพลาด
กรอกคะแนนผิดพลาด
49 = F